<div id="img_nav_container">
    <div id="img_container">
      <img src="./images/logo.svg" alt="" />
    </div>

    <nav id="navigation">
      <a class="nav_link" href="#">Features</a>
      <a class="nav_link" href="#">Pricing</a>
      <a class="nav_link" href="#">Resources</a>
    </nav>
  </div>

  <div class="mobile_navigation">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div id="button_container">
    <button id="login">Login</button>
    <button id="signUp" class="button">Sign Up</button>
  </div>