<div class="shorten_container">
    <form name="shorten_form" id="shorten" action="/shortUrls" method="POST">
      <div id="url_button_container">
        <div id="full_container">
          <input id="fullUrl" class ="url_Input" type="text" name="fullUrl" placeholder="Shorten a link here...">
          <% if (1 > 2) { %>
            <div id="add_link">Please add a link</div>
            <% } %>  
        </div>
        <button type="submit" class="button" id="shorten_button">Shorten It!</button>
      </div>
    </form>
  </div>